<main class="main">
  <rc-ses-service-page>
    <rc-ses-service-header
      serviceName="Nekilnojamojo turto registro išrašas pagal nurodytą turto adresą"
      serviceDescription="Šiame puslapyje Jūs galite užsisakyti Nekilnojamojo turto registro išrašus, pažymas bei kitus dokumentus. Užsakytą NTR išrašą, pažymą ar kitą dokumentą galėsite gauti elektroniniu būdu arba atsiimti pasirinktame VĮ Registrų centro padalinyje."
    />
    <rc-ses-service-wizard-steps
      [steps]="[
        { state: 'completed', label: 'Bazinė informacija'},
        { state: 'active', label: 'Paslaugos užsakymas'},
        { state: 'pending', label: 'Išdavimas'},
        { state: 'pending', label: 'Reikalingos papildomos paslaugos'},
        { state: 'pending', label: 'Terminai ir sąlygos'},
      ]"
    />
    <rc-ses-service-form-container>
      <mat-accordion rc-ses-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Bazinė informacija</mat-panel-title>
          </mat-expansion-panel-header>
          <div>content</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Paslaugos užsakymas</mat-panel-title>
          </mat-expansion-panel-header>
          <div>content</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Išdavimas</mat-panel-title>
          </mat-expansion-panel-header>
          <div>content</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Reikalingos papildomos paslaugos</mat-panel-title>
          </mat-expansion-panel-header>
          <div>content</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Terminai ir sąlygos</mat-panel-title>
          </mat-expansion-panel-header>
          <div>content</div>
        </mat-expansion-panel>
      </mat-accordion>
    </rc-ses-service-form-container>
  </rc-ses-service-page>
</main>

<router-outlet />
