<main class="main">
  <rc-ses-service-page>
    <rc-ses-service-header
      serviceName="Nekilnojamojo turto registro išrašas pagal nurodytą turto adresą"
      serviceDescription="Šiame puslapyje Jūs galite užsisakyti Nekilnojamojo turto registro išrašus, pažymas bei kitus dokumentus. Užsakytą NTR išrašą, pažymą ar kitą dokumentą galėsite gauti elektroniniu būdu arba atsiimti pasirinktame VĮ Registrų centro padalinyje."
    />
    <rc-ses-service-wizard-steps
      [steps]="[
        { state: 'completed', label: 'Bazinė informacija'},
        { state: 'active', label: 'Paslaugos užsakymas'},
        { state: 'pending', label: 'Išdavimas'},
        { state: 'pending', label: 'Reikalingos papildomos paslaugos'},
        { state: 'pending', label: 'Terminai ir sąlygos'},
      ]"
    />
    <rc-ses-service-form-container>
      <mat-accordion rc-ses-accordion multi>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>Bazinė informacija</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <!-- <rc-ses-form-field label="Laisvas tekstas">
              <mat-form-field>
                <input rc-ses-input matInput type="text" placeholder="Įveskite reikšmę" />
              </mat-form-field>
            </rc-ses-form-field>

            <rc-ses-form-field label="Laisvas tekstas" labelSubtitle="(disabled)">
              <mat-form-field>
                <input rc-ses-input matInput type="text" value="reikšmė" disabled />
              </mat-form-field>
            </rc-ses-form-field>

            <rc-ses-form-field label="Laisvas tekstas" labelSubtitle="(readonly)">
              <mat-form-field>
                <input rc-ses-input matInput type="text" value="reikšmė" readonly />
              </mat-form-field>
            </rc-ses-form-field>

            <rc-ses-form-field label="Pasirinkimas">
              <mat-form-field>
                <mat-select rc-ses-select name="tikslas1" placeholder="Tikslas">
                  <mat-option value="" disabled>Pasirinkite</mat-option>
                  @for (item of purposeOptions; track item.value) {
                    <mat-option [value]="item.value">
                      {{ item.label }}
                      @if (item.description) {
                        <div class="description">{{ item.description }}</div>
                      }
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </rc-ses-form-field>

            <rc-ses-form-field label="Pasirinkimas" labelSubtitle="(su aprašymais)">
              <mat-form-field>
                <mat-select rc-ses-select name="tikslas2" placeholder="Tikslas">
                  <mat-option value="" disabled>Pasirinkite</mat-option>
                  @for (item of purposeOptionsWithDescription; track item.value) {
                    <mat-option [value]="item.value">
                      {{ item.label }}
                      @if (item.description) {
                        <div class="description">{{ item.description }}</div>
                      }
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </rc-ses-form-field>

            <rc-ses-form-field label="Pasirinkimas" labelSubtitle="(su grupavimu)">
              <mat-form-field>
                <mat-select rc-ses-select name="tikslas2" placeholder="Tikslas">
                  @for (group of purposeGroups; track group) {
                    <mat-optgroup [label]="group.name"
                                  [disabled]="group.disabled">
                      @for (item of group.items; track item.value) {
                        <mat-option [value]="item.value">
                          {{ item.label }}
                          @if (item.description) {
                            <div class="description">{{ item.description }}</div>
                          }
                        </mat-option>
                      }
                    </mat-optgroup>
                  }
                </mat-select>
              </mat-form-field>
            </rc-ses-form-field>

            <rc-ses-form-field label="Pasirinkimas" labelSubtitle="(multiselect)">
              <mat-form-field>
                <mat-select name="tikslas1" placeholder="Tikslas" multiple>
                  @for (item of purposeOptions; track item.value) {
                    <mat-option [value]="item.value">
                      {{ item.label }}
                      @if (item.description) {
                        <div class="description">{{ item.description }}</div>
                      }
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </rc-ses-form-field>

            <rc-ses-form-field label="Pasirinkimas" labelSubtitle="(su paieška)">
              <rc-ses-select
                placeholder="Tikslas"
                [formControl]="tikslasCustom"
                [options]="purposeOptions"
                searchable
              />
            </rc-ses-form-field> -->
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>Paslaugos užsakymas</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <form [formGroup]="formStep1">
              <rc-ses-form-field label="Tikslas">
                <rc-ses-select
                  formControlName="purpose"
                  placeholder="Pasirinkite"
                  [options]="purposeOptions"
                />
              </rc-ses-form-field>

              <rc-ses-form-field label="Teisinis pagrindas">
                <rc-ses-select
                  formControlName="legalBasis"
                  placeholder="Pasirinkite"
                  [options]="legalBasisOptions"
                />
              </rc-ses-form-field>

              <rc-ses-form-field label="Turto adresas">
                <rc-ses-select
                  formControlName="propertyAddress"
                  placeholder="Pasirinkite"
                  [options]="propertyAddressOptions"
                  searchable
                />
              </rc-ses-form-field>

              <rc-ses-form-field label="Sutikimas">
                <rc-ses-agreement-checkbox
                  formControlName="agreement"
                  description="Pagal užsakymą gautus duomenis naudosiu nurodytam duomenų tikslui ir šių duomenų neatskleisiu tretiesiems asmenims."
                />
              </rc-ses-form-field>

              <rc-ses-form-field label="Terminas">
                <rc-ses-select
                  formControlName="deadline"
                  placeholder="Pasirinkite"
                  [options]="deadlineOptions"
                />
              </rc-ses-form-field>

              <rc-ses-form-field label="Egzempliorių skaičius">
                <rc-ses-number-stepper
                  formControlName="numberOfCopies"
                  placeholder="0"
                  [min]="0"
                  [max]="9"
                  [step]="1"
                />
              </rc-ses-form-field>
            </form>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>Išdavimas</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <form [formGroup]="formStep2">
              <rc-ses-message severity="warning">
                Primename, kad atsiimant rezultatus padalinyje su savimi privalote turėti asmens tapatybę patvirtinantį dokumentą.
              </rc-ses-message>

              <rc-ses-form-field label="Išdavimo būdas">
                <rc-ses-radio-button-group
                  formControlName="issueMethod"
                  placeholder="Pasirinkite"
                  [options]="issueMethodOptions"
                  searchable
                />
              </rc-ses-form-field>

              <rc-ses-form-field label="RC padalinys">
                <rc-ses-select
                  formControlName="rcBranch"
                  placeholder="Pasirinkite"
                  [options]="rcBranchOptions"
                  searchable
                />
              </rc-ses-form-field>
            </form>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Reikalingos papildomos paslaugos</mat-panel-title>
          </mat-expansion-panel-header>
          <div>content</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Terminai ir sąlygos</mat-panel-title>
          </mat-expansion-panel-header>
          <div>content</div>
        </mat-expansion-panel>
      </mat-accordion>
    </rc-ses-service-form-container>
  </rc-ses-service-page>
</main>

<router-outlet />
