$rc-ses-primary-palette: (
    0: #082d44,
   10: #082d44,
   20: #164763,
   25: #155575,
   30: #0e6790,
   35: #087fb2,
   40: #087fb2,
   50: #06a0d4,
   60: #50c9f3,
   70: #50c9f3,
   80: #88daf7,
   90: #88daf7,
   95: #b9e9fa,
   98: #dcf4fc,
   99: #ecf9fe,
  100: #f3fbfe,

  secondary: (
      0: #002c24,
     10: #002c24,
     20: #004e3d,
     25: #00664e,
     30: #008561,
     35: #00a879,
     40: #00a879,
     50: #00c288,
     60: #05d091,
     70: #05d091,
     80: #6fe7bd,
     90: #6fe7bd,
     95: #a5f3d3,
     98: #d1fae7,
     99: #ecfdf6,
    100: #ecfdf6,
  ),
  neutral: (
      0: #10161f,
     10: #10161f,
     20: #1f2733,
     25: #29323d,
     30: #4a5361,
     35: #6b747f,
     40: #6b747f,
     50: #8e959e,
     60: #a9afb8,
     70: #a9afb8,
     80: #c5cad1,
     90: #c5cad1,
     95: #dce0e5,
     98: #f0f2f5,
     99: #f9fafb,
    100: #f9fafb,
  ),
  neutral-variant: (
     0: #10161f,
    10: #10161f,
    20: #1f2733,
    25: #29323d,
    30: #4a5361,
    35: #6b747f,
    40: #6b747f,
    50: #8e959e,
    60: #a9afb8,
    70: #a9afb8,
    80: #c5cad1,
    90: #c5cad1,
    95: #dce0e5,
    98: #f0f2f5,
    99: #f9fafb,
    100: #f9fafb,
  ),
  error: (
      0: #31110d,
     10: #31110d,
     20: #4a1a14,
     25: #63231b,
     30: #96362a,
     35: #c84838,
     40: #c84838,
     50: #fa5a46,
     60: #fb7b6b,
     70: #fb7b6b,
     80: #fc9c90,
     90: #fdbdb5,
     95: #fdbdb5,
     98: #fededa,
     99: #fef4f2,
    100: #fef4f2,
  )
);

$rc-ses-tertiary-palette: (
     0: #082d44,
    10: #082d44,
    20: #164763,
    25: #155575,
    30: #0e6790,
    35: #087fb2,
    40: #087fb2,
    50: #06a0d4,
    60: #50c9f3,
    70: #50c9f3,
    80: #88daf7,
    90: #88daf7,
    95: #b9e9fa,
    98: #dcf4fc,
    99: #ecf9fe,
   100: #f3fbfe,

  secondary: (
      0: #002c24,
     10: #002c24,
     20: #004e3d,
     25: #00664e,
     30: #008561,
     35: #00a879,
     40: #00a879,
     50: #00c288,
     60: #05d091,
     70: #05d091,
     80: #6fe7bd,
     90: #6fe7bd,
     95: #a5f3d3,
     98: #d1fae7,
     99: #ecfdf6,
    100: #ecfdf6,
  ),
  neutral: (
      0: #10161f,
     10: #10161f,
     20: #1f2733,
     25: #29323d,
     30: #4a5361,
     35: #6b747f,
     40: #6b747f,
     50: #8e959e,
     60: #a9afb8,
     70: #a9afb8,
     80: #c5cad1,
     90: #dce0e5,
     95: #dce0e5,
     98: #f0f2f5,
     99: #f9fafb,
    100: #f9fafb,
  ),
  neutral-variant: (
      0: #10161f,
     10: #10161f,
     20: #1f2733,
     25: #29323d,
     30: #4a5361,
     35: #6b747f,
     40: #6b747f,
     50: #6b747f,
     60: #a9afb8,
     70: #a9afb8,
     80: #c5cad1,
     90: #c5cad1,
     95: #dce0e5,
     98: #f0f2f5,
     99: #f9fafb,
    100: #f9fafb,
  ),
  error: (
      0: #31110d,
     10: #31110d,
     20: #4a1a14,
     25: #63231b,
     30: #96362a,
     35: #c84838,
     40: #c84838,
     50: #fa5a46,
     60: #fb7b6b,
     70: #fb7b6b,
     80: #fdbdb5,
     90: #fdbdb5,
     95: #fdbdb5,
     98: #fededa,
     99: #fef4f2,
    100: #fef4f2,
  ),
);
