@use '@angular/material' as mat;
@use './palette.scss' as palette;

$theme: null;

@layer material {
  $theme: mat.define-theme((
    color: (
      theme-type: light,
      primary: palette.$rc-ses-primary-palette,
      tertiary: palette.$rc-ses-tertiary-palette,
    ),
    density: (
      scale: 0,
    ),
    typography: (
      brand-family: 'Public Sans',
      plain-family: 'Public Sans',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400
    )
  )) !global;
}
